body{
    background: #ccc;
    margin:0px;
    padding: 0px;
}
#container{
    width: 100%;
    height: 1000px;
    background: #AEF35e;
    margin: 0 auto;
}
.box{
    float: left;
}

.version1{
    width:50%;
/*    percentage of container*/
    height:100%;
    background: #AEFEEE;

}
.version2{
/*
    position:absolute;
    left:10%;
*/
    width:50%;
    height:100%;
    background: #AEF35e;
}

.version1:hover{
 width: 90%;
}
